[submodule "shell/gir-files"]
	path = shell/gir-files
	url = https://github.com/gtk-rs/gir-files
	branch = master
	update = none
[submodule "shell/gir"]
	path = shell/gir
	url = https://github.com/gtk-rs/gir
	branch = master
	update = none
