[submodule "shell-rs/gir-files"]
	path = shell-rs/gir-files
	url = https://github.com/gtk-rs/gir-files
	branch = master
	update = none
[submodule "shell-rs/gir"]
	path = shell-rs/gir
	url = https://github.com/gtk-rs/gir
	branch = master
	update = none
